<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <title>とりあえず</title>
    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
    <script>
        const _sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

        

        window.onload = () => {
            var trace1 = {
                x: [],
                y: [],
                type: "scatter",
            };
            var data = [trace1];
            var layout = {
                width: 600,
                height: 400,
                margin: { l: 50, r: 0, b: 3, t: 20, pad: 5 },
                showlegend: true,
                legend: { orientation: "h" },
            };
            Plotly.newPlot("canvas", data, layout);

			document.getElementById("start-button").onclick = async () => {
				const start_date = document.getElementById("start-date").value;
				const end_date = document.getElementById("end-date").value;
				if (start_date === "" || end_date === ""){
					return;
				}
				console.log(start_date);
				console.log(end_date);
				try{
					const resp = await fetch("../get_chart/", {
						method: "POST",
						body: `start=${start_date}&end=${end_date}`,
						headers: {
						"Content-Type": "application/x-www-form-urlencoded; charset=utf-8",
						},
					});

					const result = await resp.json()
					let res_json = JSON.parse(result)
          console.log(res_json)
					// for(var i = 0; i < res_json.length; i++){
          //   var temp = String(res_json[i].date)
					// 	var unix_time = temp.substring(0,10)
					// 	var time = new Date(unix_time*1000)
					// 	var datetime = time.getFullYear() + "-" + (Number(time.getMonth()) + 1) + "-" + time.getDate()
					// 	res_json[i].Date = datetime
					// }
				} catch(err){
					console.log(err);
				}
				
			};
        }
    </script>
</head>
<body>
<h1>いらっしゃいませ</h1>
<div id="canvas" style="width: 700px; height: 400px"></div>
<form id="tds-settings">
    <div id="stage-position-settings">
      <div id="start">
        <p>Start:</p>
        <input type="date" id="start-date" value="2023-09-04"/>
      </div>
      <div id="end">
        <p>End:</p>
        <input type="date" id="end-date" value="2023-09-06"/>
      </div>
    </div>
    <input type="button" value="測定" id="start-button" />
  </form>
</body>
</html>